# Ignorer virtuelle miljø
venv/

# Ignorer cache-filer fra Python
__pycache__/
*.pyc

# Ignorer midlertidige CSV-filer
data/*_renset.csv
data/temp_gloshaugen_sanntid_*.csv
data/*inneholder_feil*.csv

# Ignorer API-nøkkelfiler eller miljøfiler
api.env
.env
