# Ignorer virtuelle miljø
venv/

# Ignorer cache-filer fra Python
__pycache__/
*.pyc

# Ignorer midlertidige CSV-filer
*.csv
!klimagassutslipp_norge_renset.csv
!klimagassutslipp_verden_renset.csv
!temp_gloshaugen_historisk_renset_ 50.csv
!gyldig_historisk_luftkvalitet.csv

# Ignorer API-nøkkelfiler eller miljøfiler
api.env
.env
