# Ignorer virtuelle miljø
venv/

# Ignorer cache-filer fra Python
__pycache__/
*.pyc

# Ignorer midlertidige CSV-filer
data/gloshaugen_temperaturer.csv
data/temperatur_renset.csv

# Ignorer API-nøkkelfiler eller miljøfiler
api.env
.env
